Repository shimech/pokemon-shuzokuchi-quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run lint:fix, npm run stylelint:fix, npm run eslint:fix

redirect
  .firebaserc
  firebase.json
Due: none

v1.0.8
  package.json
Due: none

gtm
  public/js/gtm.js
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: npm run lint, npm run format, npm run lint:fix, npm run stylelint:fix, npm run eslint:fix

headはdocumentへ移動
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: npm run lint, npm run format, npm run lint:fix, npm run stylelint:fix, npm run eslint:fix

sort
  .eslintrc.json
Due: none

v1.0.10
  package.json
Due: none

fix import
  src/templates/Quiz/AnswerForm/useAnswerForm.ts
  src/templates/Quiz/HintPanel/HintPanel.tsx
  src/templates/Quiz/HintPanel/index.ts
  src/templates/Quiz/Quiz.tsx
Due: npm run lint, npm run format, npm run lint:fix, npm run stylelint:fix, npm run eslint:fix

v1.0.11
  package.json
Due: none

地方の並び順修正
  src/constants/region.ts
Due: npm run lint, npm run format, npm run lint:fix, npm run eslint:fix

v1.0.12
  package.json
Due: none

migrate
  bin/migrate.sh
  public/api/pokemons.json
Due: none

パルデア対応
  src/constants/region.ts
  src/contexts/PokemonsContextProvider/fetchPokemons.ts
  src/contexts/QuizConditionContextProvider/QuizConditionContextProvider.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/types/Region/Region.ts
Due: npm run lint, npm run format, npm run lint:fix, npm run stylelint:fix, npm run eslint:fix

タイマー機能
  src/contexts/TimerContextProvider/TimerContextProvider.tsx
  src/contexts/TimerContextProvider/index.ts
  src/contexts/TimerContextProvider/useTimerContextProvider.ts
  src/pages/_app.tsx
  src/templates/Result/Result.tsx
  src/templates/Result/useResult.ts
  src/templates/Top/QuizStartLink/QuizStartLink.tsx
  src/templates/Top/QuizStartLink/useQuizStartLink.ts
Due: npm run lint, npm run format, npm run lint:fix, npm run stylelint:fix, npm run eslint:fix

スタイル調整
  src/templates/Result/Result.tsx
Due: npm run lint, npm run format, npm run lint:fix, npm run stylelint:fix, npm run eslint:fix

sleep 300ms
  src/components/NextPageLink/useNextPageLink.ts
Due: npm run lint, npm run format, npm run lint:fix, npm run eslint:fix

refactor
  src/components/Main/Main.tsx
  src/components/NextPageLink/NextPageLink.tsx
  src/components/NextPageLink/useNextPageLink.ts
  src/components/TwitterLink/TwitterLink.tsx
  src/contexts/PokemonsContextProvider/PokemonsContextProvider.tsx
  src/contexts/QuizConditionContextProvider/QuizConditionContextProvider.tsx
  src/contexts/QuizConditionContextProvider/index.ts
  src/contexts/QuizConditionContextProvider/useQuizCondition.ts
  src/contexts/QuizConditionContextProvider/useQuizConditionContextProvider.ts
  src/contexts/QuizContextProvider/QuizContextProvider.tsx
  src/contexts/QuizContextProvider/useQuiz.ts
  src/contexts/ResultContextProvider/ResultContextProvider.tsx
  src/contexts/ResultContextProvider/index.ts
  src/contexts/ResultContextProvider/useResult.ts
  src/contexts/ResultContextProvider/useResultContextProvider.ts
  src/contexts/TimerContextProvider/TimerContextProvider.tsx
  src/contexts/TimerContextProvider/index.ts
  src/contexts/TimerContextProvider/useTimerContextProvider.ts
  src/templates/Quiz/AnswerForm/useAnswerForm.ts
  src/templates/Quiz/HintPanel/HintButton/useHintButton.ts
  src/templates/Quiz/HintPanel/HintButtonOpensContextProvider.tsx
  src/templates/Quiz/HintPanel/index.ts
  src/templates/Quiz/HintPanel/useHintButtonOpensContextProvider.ts
  src/templates/Quiz/LoadingContextProvider/LoadingContextProvider.tsx
  src/templates/Result/useResult.ts
  src/templates/Top/QuizConditionPanel/ConditionButton/ConditionButton.tsx
  src/templates/Top/QuizConditionPanel/useQuizConditionPanel.ts
  src/templates/Top/QuizStartLink/QuizStartLink.tsx
  src/templates/Top/QuizStartLink/useQuizStartLink.ts
  src/templates/Top/useTop.ts
  src/types/EmptyObject/EmptyObject.ts
  src/types/EmptyObject/index.ts
  src/types/PropsWithChildren/PropsWithChildren.ts
  src/types/PropsWithChildren/index.ts
  src/types/WithChildren/WithChildren.ts
  src/types/WithChildren/index.ts
Due: npm run lint, npm run format, npm run lint:fix, npm run stylelint:fix, npm run eslint:fix

ひらがなでも正解にする
  src/templates/Quiz/AnswerForm/Suggestion/useSuggestion.ts
  src/templates/Quiz/AnswerForm/useAnswerForm.ts
  src/utils/hiragana2Katakana/hiragana2Katakana.ts
  src/utils/hiragana2Katakana/index.ts
Due: npm run lint, npm run format, npm run lint:fix, npm run eslint:fix

pokemons.jsonはprettierの対象外とする
  .prettierignore
Due: none

バサギリ
  public/api/pokemons.json
Due: none

new line
  public/api/pokemons.json
Due: none

fix workflow
  .github/workflows/firebase-hosting-prd.yml
  .github/workflows/firebase-hosting-stg.yml
  package-lock.json
  package.json
Due: none

fix typo
  .github/workflows/firebase-hosting-stg.yml
Due: none

1.0.13
  package.json
Due: none

碧の円盤追加
  .vscode/settings.json
  public/api/pokemons.json
Due: none

tweak
  package.json
  src/contexts/PokemonsContextProvider/fetchPokemons.ts
Due: npm run lint, npm run format, npm run lint:fix, npm run eslint:fix

碧の円盤追加 (#41)
  .vscode/settings.json
  package.json
  public/api/pokemons.json
  src/contexts/PokemonsContextProvider/fetchPokemons.ts
Due: npm run lint, npm run format, npm run lint:fix, npm run eslint:fix

tag
  package.json
Due: none

tag (#42)
  package.json
Due: none

ディアルガとパルキアのオリジンフォルムの地方をヒスイにする
  package.json
  public/api/pokemons.json
Due: none

update node version
  .node-version
Due: none

v1.0.16
  package.json
Due: none

ディアルガとパルキアのオリジンフォルムの地方をヒスイにする (#43)
  .node-version
  package.json
  public/api/pokemons.json
Due: none

Path conditions:
  npm run lint: any of: ./src/**/*.{ts,tsx}
  npm run format: (any of: ./src/**/*.{ts,tsx}) or (((any of: ./src/**/*.css) or (any of: ./src/**/*.ts)) or (any of: ./src/**/*.tsx))
  npm run lint:fix: any of: ./src/**/*.{ts,tsx}
  npm run stylelint:fix: (any of: ./src/**/*.css) or (any of: ./src/**/*.tsx)
  npm run eslint:fix: (any of: ./src/**/*.ts) or (any of: ./src/**/*.tsx)
